.hero {
    background: rgb(144, 179, 139);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.486);
    text-align: center;
    margin-bottom: 20px;
}

#buscador input {
    border-radius: 5px;
    width: 100px;
}

#buscador button {
    border-radius: 5px;
    width: 70px;
    
}

.escondido {
    display: none;
}


#loading {
    background: rgb(1, 16, 24);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 70px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.486);
    text-align: center;
    margin-bottom: 20px;
    color: white;

}

#erro {
    background: rgb(202, 49, 49);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 70px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.486);
    text-align: center;
    margin-bottom: 20px;
    color: white;

}


#card {
    background: rgb(144, 179, 139);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 300px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.486);
    text-align: center;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);

}

